body {
    background-color: rgb(255, 221, 245);
    background-image: url(space.png);

}

.Titulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}


.Gatitos {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.audio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}